# Root environment example
DISCORD_TOKEN=your-discord-token
API_KEY=your-api-key
MONGO_URL=mongodb+srv://<user>:<pass>@cluster0.xxxx.mongodb.net/legend_star?retryWrites=true&w=majority
BACKEND_URL=http://localhost:8000
PORT=8000
