# Discord Bot Configuration
DISCORD_TOKEN=your_discord_bot_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here

# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database

# Temp Voice Configuration
TEMP_VOICE_CATEGORY_ID=1486534382314455151
INTERFACE_CHANNEL_ID=1486552573652631732
LOBBY_CHANNEL_ID=1486535158185197649

# Web Server
PORT=3000
FRONTEND_URL=http://localhost:3000/LEGEND-STAR

# Owner ID
OWNER_ID=1406313503278764174